.lblCokluSatir {
    white-space: pre-wrap !important;
}
.sapMLnk{
	white-space: pre-wrap !important;
}

.cssHeader {
	background-color: rgb(252, 230, 194) !important;
}

.cssGreen {
    background-color: rgb(209, 255, 155) !important;
}

.cssRed {
    background-color: rgb(255, 108, 108) !important;
}

.cssWhite {
    background-color: rgb(255, 255, 255) !important;
}

.lblCokluSatir {
    white-space: pre-wrap !important;
}
